<div class="row copy ">
    <div class="col-sm-12">
        <p class="copy"><span>High Risk Investment Warning: </span><br>
            Trading foreign exchange and/or contracts for differences on margin carries a high level of risk,
            and may not be suitable for all investors. The possibility exists that you could sustain a loss in
            excess of your deposited funds. Before deciding to trade the products offered by Littinvest you
            should carefully consider your objectives, financial situation, needs and level of experience. You
            should be aware of all the risks associated with trading on margin.Trading foreign exchange and/or
            contracts for differences on margin carries a high level of risk, and may not be suitable for all
            investors. The possibility exists that you could sustain a loss in excess of your deposited funds.
            Before deciding to trade the products offered by Littinvest you should carefully consider your
            objectives, financial situation, needs and level of experience.
            <span>You should be aware of all the risks associated with trading on margin.</span></p>

        </div>

    </div>

    <div class="conteiner" style="overflow: hidden;">
            <div class="row copy">
                <div class="col-xs-12 ">
                     <div class="block_policy">
                    <a class="policy" href="http://littinvest.online/">Terms of use </a><a class="policy" href="http://littinvest.online/">
                    privacy policy</a>
                </div>
                    <div class="Copyright" style="text-transform: none;">
                               <a href="" style="color: inherit;">License information</a> <br>
                        Copyright © LittInvest 2014-2017. All rights reserved.
                    </div>
                </div>
    
            </div>
    </div>