.payment_section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 50px;
    margin: 20px 0 10px 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: space-around;
}
.payment_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;

}
@media(max-width: 768px){
    .payment_item{
        margin: 10px;
    }
}